In [1]:
import pandas as pd

In [3]:
dipresive = pd.read_csv("anxiety OR apathy OR depression OR PTSD OR thought of suicide.csv")
normal = pd.read_csv("positive OR love OR motivation OR happy OR inspiration.csv")

In [4]:
dipresive

,id,date,time,username,tweet,likes_count
0,1265635286572101632,2020-05-27,18:55:41,dtuguinay,Ever thought of suicide? If you want I'll glad...,0
1,1265634710400536577,2020-05-27,18:53:23,thuy_tweets_,UNSW Sydney researchers have received funding ...,0
2,1265633189894201347,2020-05-27,18:47:21,tommysawyer999,TW: #suicide\nTelling someone who is severely ...,0
3,1265632518666989569,2020-05-27,18:44:41,white_hadrian,Nope. Literally just facts. Lgbt have higher r...,0
4,1265631035213021186,2020-05-27,18:38:47,masurigaga,The truth is that I have thought of attempting...,2
...,...,...,...,...,...,...
14935,1251430306034315266,2020-04-18,14:10:10,musicmckenzie,"Preventing the wealthy, golfing elite trotting...",6
14936,1251426139052048386,2020-04-18,13:53:36,timmydennydd,and how they're enjoying life because of it. \...,2
14937,1251425728601534465,2020-04-18,13:51:58,premsingh1974,U people r gutter worms....Sick people....Sick...,0
14938,1251421893900599296,2020-04-18,13:36:44,koobisluvr,"tw// depression, thoughts of suicide\n\ni real...",0
14939,1251420791813496832,2020-04-18,13:32:21,shellyosadon1,Your comments were perfectly fair and should b...,0

In [5]:
normal

,id,date,time,username,tweet,likes_count
0,1265641651713658882,2020-05-27,19:20:58,tawanchuchurut,I love these two ü•∞ https://twitter.com/taynew...,0
1,1265641651415863296,2020-05-27,19:20:58,wonhoshie,OP OP OP I LOVE YOU pic.twitter.com/Z6IfDez9uV,0
2,1265641651365646336,2020-05-27,19:20:58,lovecathycross,Always ü§óü§óü§óü§ó,0
3,1265641651344531458,2020-05-27,19:20:58,_adellia01,Happy birthday eonniü•≥‚ô•Ô∏è,0
4,1265641651155996672,2020-05-27,19:20:58,basterized,Trying to hang. \n\nShe‚Äôs an angel and deserve...,0
...,...,...,...,...,...,...
14995,1265639853762494464,2020-05-27,19:13:50,llemongirl_,I have a habbit of nibbling on my lip or the i...,0
14996,1265639853762347013,2020-05-27,19:13:50,momo_akuma,SKSKSKSKKSKSK LOVE IS A STRONG WORD MOMO IS GL...,1
14997,1265639853389017089,2020-05-27,19:13:50,syzygyknj,I LOVE YOU pic.twitter.com/UzlcwraGNC,0
14998,1265639853338685441,2020-05-27,19:13:50,woodzseokd,What did I do in my oast life to deserve you a...,0
14999,1265639853288419329,2020-05-27,19:13:50,bae__2000510,you're so beautiful beautiful ‚ù§Ô∏è,0

In [6]:
dipresive['target'] = 'Dipresive'
normal['target'] = 'Normal'

In [10]:
df = pd.concat((normal,dipresive))

In [11]:
df

,id,date,time,username,tweet,likes_count,target
0,1265641651713658882,2020-05-27,19:20:58,tawanchuchurut,I love these two ü•∞ https://twitter.com/taynew...,0,Normal
1,1265641651415863296,2020-05-27,19:20:58,wonhoshie,OP OP OP I LOVE YOU pic.twitter.com/Z6IfDez9uV,0,Normal
2,1265641651365646336,2020-05-27,19:20:58,lovecathycross,Always ü§óü§óü§óü§ó,0,Normal
3,1265641651344531458,2020-05-27,19:20:58,_adellia01,Happy birthday eonniü•≥‚ô•Ô∏è,0,Normal
4,1265641651155996672,2020-05-27,19:20:58,basterized,Trying to hang. \n\nShe‚Äôs an angel and deserve...,0,Normal
...,...,...,...,...,...,...,...
14935,1251430306034315266,2020-04-18,14:10:10,musicmckenzie,"Preventing the wealthy, golfing elite trotting...",6,Dipresive
14936,1251426139052048386,2020-04-18,13:53:36,timmydennydd,and how they're enjoying life because of it. \...,2,Dipresive
14937,1251425728601534465,2020-04-18,13:51:58,premsingh1974,U people r gutter worms....Sick people....Sick...,0,Dipresive
14938,1251421893900599296,2020-04-18,13:36:44,koobisluvr,"tw// depression, thoughts of suicide\n\ni real...",0,Dipresive
14939,1251420791813496832,2020-04-18,13:32:21,shellyosadon1,Your comments were perfectly fair and should b...,0,Dipresive

In [15]:
df = df.drop_duplicates(subset=['tweet'], keep = False)

In [16]:
df

,id,date,time,username,tweet,likes_count,target
0,1265641651713658882,2020-05-27,19:20:58,tawanchuchurut,I love these two ü•∞ https://twitter.com/taynew...,0,Normal
1,1265641651415863296,2020-05-27,19:20:58,wonhoshie,OP OP OP I LOVE YOU pic.twitter.com/Z6IfDez9uV,0,Normal
2,1265641651365646336,2020-05-27,19:20:58,lovecathycross,Always ü§óü§óü§óü§ó,0,Normal
3,1265641651344531458,2020-05-27,19:20:58,_adellia01,Happy birthday eonniü•≥‚ô•Ô∏è,0,Normal
4,1265641651155996672,2020-05-27,19:20:58,basterized,Trying to hang. \n\nShe‚Äôs an angel and deserve...,0,Normal
...,...,...,...,...,...,...,...
14935,1251430306034315266,2020-04-18,14:10:10,musicmckenzie,"Preventing the wealthy, golfing elite trotting...",6,Dipresive
14936,1251426139052048386,2020-04-18,13:53:36,timmydennydd,and how they're enjoying life because of it. \...,2,Dipresive
14937,1251425728601534465,2020-04-18,13:51:58,premsingh1974,U people r gutter worms....Sick people....Sick...,0,Dipresive
14938,1251421893900599296,2020-04-18,13:36:44,koobisluvr,"tw// depression, thoughts of suicide\n\ni real...",0,Dipresive
14939,1251420791813496832,2020-04-18,13:32:21,shellyosadon1,Your comments were perfectly fair and should b...,0,Dipresive

In [17]:
from sklearn.utils import shuffle
df = shuffle(df)

In [18]:
df

,id,date,time,username,tweet,likes_count,target
10322,1265640399223341058,2020-05-27,19:16:00,billybad_ash,love them. RT @passport_cutty: Do you like Gem...,0,Normal
14995,1265639853762494464,2020-05-27,19:13:50,llemongirl_,I have a habbit of nibbling on my lip or the i...,0,Normal
1890,1265641421480083457,2020-05-27,19:20:04,lppsychwest,Happy Wellness Wednesday!! Be proud of all the...,0,Normal
6018,1265640922005622784,2020-05-27,19:18:04,njpj99,Wake up and Bake up! Thank God for another 24!...,2,Normal
5093,1260965438273568771,2020-05-14,21:39:22,stepdadstephen1,Lesson learned: suicide jokes don't hit the sa...,0,Dipresive
...,...,...,...,...,...,...,...
11689,1254871855329980426,2020-04-28,02:05:39,captbill12,This is a pretty good idea. Would like to see...,0,Dipresive
8731,1257496503368560642,2020-05-05,07:55:04,berri_chan_,Hey guys. Please block and report this account...,5,Dipresive
7898,1265640693244088321,2020-05-27,19:17:10,otaconernie,Send some love to @SheridanLoveXXX as she goes...,0,Normal
13714,1252753017360826368,2020-04-22,05:46:09,kgordon26,Can I ask where you get your statics? I'm in m...,2,Dipresive
1190,1265641505802186753,2020-05-27,19:20:24,icyjeongy,we love it! don't stop,0,Normal

In [25]:
df.target.value_counts()

Dipresive    14472
Normal       14382
Name: target, dtype: int64

In [26]:
df = df.drop(['id', 'date','time','username','likes_count'], axis=1)

In [27]:
df

                                                   tweet     target
10322  love them. RT @passport_cutty: Do you like Gem...     Normal
14995  I have a habbit of nibbling on my lip or the i...     Normal
1890   Happy Wellness Wednesday!! Be proud of all the...     Normal
6018   Wake up and Bake up! Thank God for another 24!...     Normal
5093   Lesson learned: suicide jokes don't hit the sa...  Dipresive
...                                                  ...        ...
11689  This is a pretty good idea.  Would like to see...  Dipresive
8731   Hey guys. Please block and report this account...  Dipresive
7898   Send some love to @SheridanLoveXXX as she goes...     Normal
13714  Can I ask where you get your statics? I'm in m...  Dipresive
1190                              we love it! don't stop     Normal

[28854 rows x 2 columns]

In [31]:
df.columns = ["text", "labels"]

In [32]:
df

                                                    text     labels
10322  love them. RT @passport_cutty: Do you like Gem...     Normal
14995  I have a habbit of nibbling on my lip or the i...     Normal
1890   Happy Wellness Wednesday!! Be proud of all the...     Normal
6018   Wake up and Bake up! Thank God for another 24!...     Normal
5093   Lesson learned: suicide jokes don't hit the sa...  Dipresive
...                                                  ...        ...
11689  This is a pretty good idea.  Would like to see...  Dipresive
8731   Hey guys. Please block and report this account...  Dipresive
7898   Send some love to @SheridanLoveXXX as she goes...     Normal
13714  Can I ask where you get your statics? I'm in m...  Dipresive
1190                              we love it! don't stop     Normal

[28854 rows x 2 columns]

In [33]:
df.to_csv(r'dipresive_normal_text_data.csv', index = None, header=True)